{% extends 'common/base.html' %}

{% block content %}
    <main>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Кем</th>
                <th scope="col">Действие</th>
                <th scope="col">Описание</th>
                <th scope="col">Время</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody class="s">
            <tr onclick="getLog('{% url 'log' log.id %}')">
                <td class="fw-semibold">{{ log.by_user }}</td>
                <td class="fw-semibold" id="action">{{ log.slug|upper }}</td>
                <td class="fw-semibold">{{ log.text|safe }}</td>
                <td class="fw-semibold">{{ log.created_at }}</td>
                <td class="fw-semibold {% if log.status == 'error' or log.status == 'error_logging' %} text-danger {% else %} text-success {% endif %}">{{ log.status }}</td>
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        let prev_values = {% if log.prev_values %} {{ log.prev_values|safe }} {% else %} null {% endif %}
        let next_values = {% if log.next_values %} {{ log.next_values|safe }} {% else %} null {% endif %}

        const action = document.getElementById('action');

        switch (action.textContent.toLowerCase()) {
                case 'create':
                    action.classList.add('text-success');
                    break;
                case 'update':
                    action.classList.add('text-primary');
                    break;
                case 'delete':
                    action.classList.add('text-danger');
                    break;
                case 'login':
                    action.classList.add('text-primary');
                    break;
                case 'action':
                    action.style.color = '#6f42c1';
                    break;
                default:
                    action.classList.add('text-danger');
                    break;
            }

        function render() {
            if (prev_values || next_values) {
                document.getElementsByTagName('main')[0].innerHTML += `
            <div id="content" class="">
                <h1 class="text-center mb-3">Запись</h1>
                <div id="rows" class="d-flex justify-content-center gap-5">
                </div>
            </div>
            `;
                const content = document.getElementById('rows');
                let prev_fields = null
                if (prev_values) {
                    content.innerHTML += `
            <div>
            <h3 class="text-center">До</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-secondary">
                    <td>Название поля</td>
                    <td>Значение</td>
                </tr>
                </thead>
                <tbody id="before">

                </tbody>
            </table>
            </div>
            <div class="vr"></div>`;
                    prev_fields = prev_values[0]['fields'];
                    const before = document.getElementById(`before`)
                    for (let field in prev_fields) {
                        before.innerHTML += `
                    <tr>
                    <td>
                        ${field}
                    </td>
                    <td>
                        ${prev_fields[field]}
                    </td>
                    </tr>
                    `
                    }
                }
                if (next_values) {
                    content.innerHTML += `
                    <div>
                    ${prev_fields ? '<h3 class="text-center">После</h3>' : ''}
                    <table class="table table-bordered border-2 table-hover">
                        <thead>
                        <tr class="table-secondary">
                            <td>Название поля</td>
                            <td>Значение</td>
                        </tr>
                        </thead>
                        <tbody id="after">

                        </tbody>
                    </table>
                    </div>`;
                    const next_fields = {% if log.slug in 'create update delete' %} next_values[0]['fields'] {% else %}
                        next_values {% endif %}
                    const after = document.getElementById('after')
                    if (prev_fields) {
                        for (let field in next_fields) {
                            after.innerHTML += `
                    <tr>
                    <td>
                        ${field}
                    </td>
                    <td class="${next_fields[field] !== prev_fields[field] ? 'table-success' : ''}">
                        ${next_fields[field]}
                    </td>
                    </tr>
                    `
                        }
                    } else {
                        for (let field in next_fields) {
                            after.innerHTML += `
                            <tr>
                            <td>
                                ${field}
                            </td>
                            <td>
                                ${JSON.stringify(next_fields[field])}
                            </td>
                            </tr>
                            `
                        }
                    }
                }
            }
        }

        render()
    </script>
{% endblock %}
