{% extends 'common/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/ipphone.css' %}">

{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
        <input type="hidden" id="is-admin" value="{{ user.is_authenticated|yesno:'true,false' }}">

        <input id="search_here" class="form-control mt-3" placeholder="Поиск...">
        <br>
        <!-- Общий заголовок таблицы -->
        <div id="table-container">
            <table class="table text-center table-striped table-hover table-custom">
                <thead class="ipphone-head">
                <tr>
                    <th scope="col">Внутренние номера</th>
                    <th scope="col">Фотография</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">E-mail</th>
                    <th scope="col"><input onclick="selectAllRecords(this)" class="select-all" type="checkbox"></th>
                </tr>
                </thead>
                <tbody id="table-body">
                {#             {% for department in departments %}#}
                {#                {% if department.name  %}#}
                {#                    Название департамента#}
                {#                    <tr data-department="{{ department.id }}" class="department-row" data-bs-toggle="modal" data-bs-target="#editDepartmentModal" onclick="openEditDepartmentModal('{{ department.id }}', '{{ department.name }}', '{{ department.position }}')">#}
                {#                        <td colspan="5" class="text-left department"><strong>{{ department.name }}</strong></td>#}
                {#                    </tr>#}
                {#                    {% for record in records %}#}
                {#                        {% if record.department == department and record.is_active == True and record.department != null %}#}
                {#                            <tr data-record="{{ record.id }}" data-department="{{ department.id }}" onclick="openEditRecordModal('{{ record.id }}', '{{ record.full_name }}', '{{ record.department }}', '{{ record.position }}', '{{ record.position_id }}', '{{ record.phone }}', '{{ record.email }}', '{{ record.room }}')">#}
                {#                                <td><img src="{% if record.image %}{{ record.image.url }}{% else %}{% static 'images/Energo_logo-16.svg' %}{% endif %}" alt=""></td>#}
                {#                                <td>{{ record.phone }}</td>#}
                {#                                <td>{{ record.full_name }}</td>#}
                {#                                <td>{{ record.position }}</td>#}
                {#                                <td>{{ record.room }}</td>#}
                {#                                <td>{{ record.email }}</td>#}
                {#                            </tr>#}
                {#                        {% endif %}#}
                {#                        #}
                {#                    {% endfor %}#}
                {#                {% endif %}#}
                {##}
                {#            {% endfor %}#}
                {#            <tr class="default-department department-row">#}
                {#                <td colspan="5" class="text-left department"><strong>Неактивные пользователи и пользователи без департамента</strong></td>#}
                {#            </tr>#}
                {#            {% for record in records %}#}
                {#                {% if record.is_active == False or record.department == null %}#}
                {#                    <tr data-record="{{ record.id }}" onclick="openEditRecordModal('{{ record.is_active }}', '{{ record.id }}', '{{ record.full_name }}', '{{ record.position }}', '{{ record.position_id }}', '{{ record.phone }}', '{{ record.email }}', '{{ record.room }}')">#}
                {#                        <td><img src="{% if record.image %}{{ record.image.url }}{% else %}{% static 'images/Energo_logo-16.svg' %}{% endif %}" alt=""></td>#}
                {#                        <td>{{ record.phone }}</td>#}
                {#                        <td>{{ record.full_name }}</td>#}
                {#                        <td>{{ record.position }}</td>#}
                {#                        <td>{{ record.room }}</td>#}
                {#                        <td>{{ record.email }}</td>#}
                {#                    </tr>#}
                {#                {% endif %}#}
                {#            {% endfor %}#}
                </tbody>
            </table>
        </div>

        <!-- Модальное окно для редактирования департамента -->
        <div class="modal fade" id="editDepartmentModal" tabindex="-1" aria-labelledby="editDepartmentModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editDepartmentModalLabel">Редактировать департамент</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-department-form">
                            <div class="mb-3">
                                <label for="department-name" class="form-label">Название департамента</label>
                                <input type="text" class="form-control" id="department-name" name="name">
                                <label for="department-position" class="form-label">Позиция департамента</label>
                                <input type="number" class="form-control" id="department-position" name="position">
                            </div>
                            <input type="hidden" id="department-id" name="department_id">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" onclick="submitEditDepartmentForm()">Сохранить
                            изменения
                        </button>
                        <button type="button" class="btn btn-danger" onclick="deleteDepartment()">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для редактирования сотрудника -->
        <!-- <div class="modal fade" id="editRecordModal" tabindex="-1" aria-labelledby="editRecordModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editRecordModalLabel">Редактировать сотрудника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="edit-record-form">
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="record-active" name="is_active">
                    <label for="record-active" class="form-check-label">Активен</label>
                  </div>
                  <div class="mb-3">
                    <label for="record-name" class="form-label">Ф.И.О.</label>
                    <input type="text" class="form-control" id="record-name" name="full_name">
                  </div>
                  <div class="mb-3">
                    <label for="record-department" class="form-label">Департамент</label>
                    <select class="form-select" id="record-department" name="department">

                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="record-position" class="form-label">Должность</label>
                    <input type="text" class="form-control" id="record-position" name="position">
                  </div>
                  <div class="mb-3">
                    <label for="record-position-id" class="form-label">ID позиции</label>
                    <input type="number" class="form-control" id="record-position-id" name="position_id">
                  </div>
                  <div class="mb-3">
                    <label for="record-phone" class="form-label">Внутренний номер</label>
                    <input type="text" class="form-control" id="record-phone" name="phone">
                  </div>
                  <div class="mb-3">
                    <label for="record-email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="record-email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="record-room" class="form-label">Кабинет</label>
                    <input type="text" class="form-control" id="record-room" name="room">
                  </div>
                  <input type="hidden" id="record-id" name="record_id">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="submitEditRecordForm()">Сохранить изменения</button>
                <button class="btn btn-danger" onclick="deleteRecord()">Удалить</button>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Модальное окно для редактирования записи -->
        <div class="modal fade" id="editRecordModal" tabindex="-1" aria-labelledby="editRecordModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRecordModalLabel">Редактировать сотрудника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Форма будет загружена сюда через AJAX -->
                        <div id="modal-form-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для показа ссылок -->
        <div style="--bs-modal-width:80%;" class="modal fade" id="linksModal" tabindex="-1"
             aria-labelledby="linksModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="linksRecordModalLabel">Ссылки:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Форма будет загружена сюда через AJAX -->
                        <div id="modal-links-content"></div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <input id="search_here" class="form-control mt-3" placeholder="Поиск...">
        <br>
        <div id="table-container">
            <table class="table text-center table-striped table-hover table-custom">
                <thead class="ipphone-head">
                <tr>
                    <th scope="col">Внутренние номера</th>
                    <th scope="col">Фотография</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">E-mail</th>
                </tr>
                </thead>

                <tbody id="table-body">
                {#            {% for department in departments %}#}
                {#                {% if department.name  %}#}
                {#                    <!-- Название департамента -->#}
                {#                    <tr class="department-row" data-department="{{ department.id }}">#}
                {#                        <td colspan="5" class="text-left department"><strong>{{ department.name }}</strong></td>#}
                {#                    </tr>#}
                {#                    {% for record in records %}#}
                {#                        {% if record.department == department and record.is_active == True %}#}
                {#                            <tr data-record="{{ record.id }}" data-department="{{ department.id }}">#}
                {#                                <td><img src="{{ record.image }}" alt=""></td>#}
                {#                                <td>{{ record.phone }}</td>#}
                {#                                <td>{{ record.full_name }}</td>#}
                {#                                <td>{{ record.position }}</td>#}
                {#                                <td>{{ record.room }}</td>#}
                {#                                <td>{{ record.email }}</td>#}
                {#                            </tr>#}
                {#                        {% endif %}#}
                {#                    {% endfor %}#}
                {#                {% endif %}#}
                {#            {% endfor %}#}
                </tbody>
            </table>
        </div>

    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        const employersData = JSON.parse('{{ all_employers_json|escapejs }}');
        const allDepartments = JSON.parse('{{ departments_json|escapejs }}');
        const searchInput = document.getElementById('search_here');
        const tableBody = document.getElementById('table-body');
        const isAdminInput = document.getElementById('is-admin');
        const isAdmin = isAdminInput ? isAdminInput.value === 'true' : false;


        function filterData() {
            const searchValue = searchInput.value.toLowerCase();

            // Фильтрация данных по всем полям
            const filteredEmployers = employersData.filter(employer => {
                return Object.values(employer).some(value =>
                    String(value).toLowerCase().includes(searchValue)
                );
            });

            // Очистка таблицы
            tableBody.innerHTML = "";

            // Группировка сотрудников по департаментам
            const departmentsMap = {null: []};

            filteredEmployers.forEach(employer => {
                const departmentName = employer.department__name;
        
                if (departmentName != null && !departmentsMap[departmentName]) {
                    departmentsMap[departmentName] = [];
                }
                if (!employer.is_active) {
                    departmentsMap[null].push(employer);    
                } else {
                    departmentsMap[departmentName].push(employer);
                }
                
            });
            console.log(filteredEmployers, departmentsMap);

            // Вывод департаментов и сотрудников
            Object.keys(departmentsMap).forEach(departmentName => {
                const department = allDepartments.find(dept => dept.name === departmentName);
                if (isAdmin && (departmentName === "null" || departmentsMap[departmentName].every(employer => !employer.is_active))) {
                    // Департамент без сотрудников вообще (только для админа)
                    const departmentRow =
                        `<tr class="default-department department-row">
                        <td colspan="6" class="text-left department"><strong>Неактивные пользователи и пользователи без департамента</strong></td>
                        {% if user.is_authenticated %}
                        <td colspan="1" class="department"><input onchange="selectDepartment(this,'not-active')" class="department-checkbox" type="checkbox"></td>
                        {% endif %}
                    </tr>`;
                    tableBody.innerHTML += departmentRow;

                    filteredEmployers.forEach(employer => {
                        // Проверка на сотрудников без департамента или неактивных сотрудников
                        if (!employer.department__name || employer.department__name.trim() === "" || !employer.is_active) {
                            const row =
                                `<tr class="record" data-record="${employer.id}" onclick="openEditRecordModal('${employer.id}', '${employer.full_name}', '${employer.department__name}', '${employer.position}', '${employer.position_id}', '${employer.phone}', '${employer.email}', '${employer.room}')">
                                <td>${employer.phone}</td>
                                <td><img class="photo ${employer.image ? "photo-show" : ""}" src="${employer.image ? "{% static 'images/avatar-green.svg' %}" : "{% static 'images/avatar-red.svg' %}"}" ${employer.image ? 'onmouseover="this.src=\'' + employer.image + '\'"' : ''} ${employer.image ? 'onmouseleave="this.src=\'' + "{% static 'images/avatar-green.png' %}" + '\'"' : ''} alt=""></td>
                                <td>${employer.full_name}</td>
                                <td>${employer.position}</td>
                                <td>${employer.room}</td>
                                <td>${employer.email}</td>
                                <td><input checkbox-department="not-active" class="record-checkbox" type="checkbox"></td>
                            </tr>
                            `;
                            tableBody.innerHTML += row;
                        }
                    });
                } else if (departmentName !== "null") {
                    const departmentRow =
                        `<tr class="department-row department">
                        <td colspan="6" class="text-left department" onclick="openEditDepartmentModal('${department.id}', '${department.name}', '${department.position}')"><strong>${departmentName}</strong></td>
                        {% if user.is_authenticated %}
                        <td colspan="1" class="department"><input onchange="selectDepartment(this,'${department.name}')" class="department-checkbox" type="checkbox"></td>
                        {% endif %}
                    </tr>`;
                    tableBody.innerHTML += departmentRow;

                    departmentsMap[departmentName].forEach(employer => {
                        if (employer.is_active) {
                            const row =
                                `<tr class="record" data-record="${employer.id}" data-department="${employer.department__name}" onclick="openEditRecordModal('${employer.id}', '${employer.full_name}', '${employer.position}', '${employer.position_id}', '${employer.phone}', '${employer.email}', '${employer.room}')">
                                <td>${employer.phone}</td>
                                <td><img class="photo ${employer.image ? "photo-show" : ""}" src="${employer.image ? "{% static 'images/avatar-green.svg' %}" : "{% static 'images/avatar-red.svg' %}"}" ${employer.image ? 'onmouseover="this.src=\'' + employer.image + '\'"' : ''} ${employer.image ? 'onmouseleave="this.src=\'' + "{% static 'images/avatar-green.png' %}" + '\'"' : ''} alt=""></td>
                                <td>${employer.full_name}</td>
                                <td>${employer.position}</td>
                                <td>${employer.room}</td>
                                <td>${employer.email}</td>
                                {% if user.is_authenticated %}
                                <td><input checkbox-department="${employer.department__name}" class="record-checkbox" type="checkbox"></td>
                                {% endif %}
                            </tr>`;
                            tableBody.innerHTML += row;
                        }
                    });
                }
            });

            // Если ничего не найдено
            if (filteredEmployers.length === 0) {
                tableBody.innerHTML =
                    `<tr>
                    <td colspan="6">По запросу ничего не найдено...</td>
                </tr>`;
            }
        }

        // Установка слушателя на поле поиска
        searchInput.addEventListener('keyup', filterData);

        // Выполнение фильтрации сразу при загрузке страницы
        filterData();


        function openEditDepartmentModal(departmentId, departmentName, departmentPosition) {
            // Устанавливаем значения в форму
            document.getElementById('department-id').value = departmentId;
            document.getElementById('department-name').value = departmentName;
            document.getElementById('department-position').value = departmentPosition;
            $('#editDepartmentModal').modal('show');
        }

        function submitEditDepartmentForm() {
            const departmentId = document.getElementById('department-id').value;
            const departmentName = document.getElementById('department-name').value;
            const departmentPosition = document.getElementById('department-position').value;

            // Отправляем AJAX запрос для обновления департамента
            $.ajax({
                url: `/edit-department/${departmentId}/`,  // Путь к обработчику вьюшки
                type: 'POST',
                data: {
                    name: departmentName,
                    position: departmentPosition,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.success) {
                        // Перезагружаем страницу после успешного обновления
                        location.reload();
                    } else {
                        alert('Ошибка при сохранении');
                    }
                }
            });
        }

        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function openEditRecordModal(recordId) {
            // AJAX-запрос для получения формы редактирования записи
            $.ajax({
                url: `/edit-record/${recordId}/`,
                type: 'GET',
                success: function (response) {
                    // Загружаем HTML формы в модальное окно
                    $('#modal-form-content').html(response.form_html);
                    $('#editRecordModal').modal('show');

                    // Обработка отправки формы через AJAX
                    $('#editRecordModal form').on('submit', function (event) {
                        event.preventDefault();
                        let formData = new FormData(this);
                        $.ajax({
                            url: `/edit-record/${recordId}/`,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            headers: {
                                'X-CSRFToken': getCSRFToken() // Передача CSRF токена
                            },
                            success: function (data) {
                                if (data.success) {
                                    location.reload();
                                } else {
                                    $('#modal-form-content').html(data.form_html);
                                }
                            },
                            error: function () {
                                alert('Ошибка при обновлении записи.');
                            }
                        });
                    });
                },
                error: function () {
                    alert('Ошибка при загрузке формы.');
                }
            });
        }

        {% if user.is_authenticated %}
            document.querySelectorAll('.record-checkbox').forEach((el) => {
                el.addEventListener('click', (e) => {
                    e.stopPropagation();
                })
            })
            function selectAllRecords(element) {
                const recordsCheckboxes = document.querySelectorAll('input[type=checkbox]');
                for (let i = 0; i < recordsCheckboxes.length; i++) {
                    if (element.checked) {
                        recordsCheckboxes[i].checked = true;
                    } else {
                        recordsCheckboxes[i].checked = false;
                    }
                }
            }
            function selectDepartment(event, department_name) {
                const recordsCheckboxes = document.querySelectorAll(`[checkbox-department="${department_name}"]`);
                for (let i = 0; i < recordsCheckboxes.length; i++) {
                    if (event.checked) {
                        recordsCheckboxes[i].checked = true;
                    } else {
                        recordsCheckboxes[i].checked = false;
                    }
                }
            }

            function getCheckedRecords() {
                let checkedRecords = [];
                const records = document.getElementsByClassName('record')
                for (let i = 0; i < records.length; i++) {
                    if (records[i].getElementsByClassName('record-checkbox')[0].checked) {
                        checkedRecords.push(records[i].getAttribute('data-record'));
                    }
                }
                return checkedRecords;
            }

            function sendForms(email = false) {
                const records = getCheckedRecords();
                if (records.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/send_forms/",
                        data: {
                            records: JSON.stringify(records),
                            email: email,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            $('#modal-links-content').html(response.form_html);
                            $('#linksModal').modal('show');
                            console.log(response);
                        }
                    });
                }
            }
        {% endif %}


        // function openEditRecordModal(isActive, recordId, fullName, departmentId, position, positionId, phone, email, room) {
        //     //Устанавливаем значения в форму
        //     const isActiveBool = (isActive === 'True' || isActive === 'true');
        //     document.getElementById('record-active').checked = isActiveBool;
        //     document.getElementById('record-id').value = recordId;
        //     document.getElementById('record-name').value = fullName;
        //     document.getElementById('record-department').value = departmentId;
        //     document.getElementById('record-position').value = position;
        //     document.getElementById('record-position-id').value = positionId;
        //     document.getElementById('record-phone').value = phone;
        //     document.getElementById('record-email').value = email;
        //     document.getElementById('record-room').value = room;
        //     Открываем модальное окно
        //     $('#editRecordModal').modal('show');
        // }

        // function submitEditRecordForm() {
        //     const isActive = document.getElementById('record-active').checked;
        //     const recordId = document.getElementById('record-id').value;
        //     const fullName = document.getElementById('record-name').value;
        //     const department = document.getElementById('record-department').value;
        //     const position = document.getElementById('record-position').value;
        //     const positionId = document.getElementById('record-position-id').value;
        //     const phone = document.getElementById('record-phone').value;
        //     const email = document.getElementById('record-email').value;
        //     const room = document.getElementById('record-room').value;

        //     // Отправляем AJAX запрос для обновления сотрудника
        //     $.ajax({
        //         url: `/edit-record/${recordId}/`,  // Путь к обработчику вьюшки
        //         type: 'POST',
        //         data: {
        //             is_active: isActive,
        //             full_name: fullName,
        //             position: position,
        //             position_id: positionId,
        //             phone: phone,
        //             email: email,
        //             room: room,
        //             csrfmiddlewaretoken: '{{ csrf_token }}'
        //         },
        //         success: function(response) {
        //             if (response.success) {
        //                 // Перезагружаем страницу после успешного обновления
        //                 location.reload();
        //             } else {
        //                 alert('Ошибка при сохранении');
        //             }
        //         }
        //     });
        // }

        function deleteDepartment() {
            var departmentId = document.getElementById('department-id').value;
            if (confirm('Вы уверены, что хотите удалить департамент?')) {
                $.ajax({
                    url: `/delete-department/${departmentId}/`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert('Ошибка при удалении');
                        }
                    }
                });
            }
        }

        // old deleteRecord
        // function deleteRecord() {
        //     var recordId = document.getElementById('record-id').value;
        //     if (confirm('Вы уверены, что хотите удалить сотрудника?')) {
        //         $.ajax({
        //             url: `/delete-record/${recordId}/`,
        //             type: 'POST',
        //             data: {
        //                 csrfmiddlewaretoken: '{{ csrf_token }}'
        //             },
        //             success: function(response) {
        //                 if (response.success) {
        //                     location.reload();
        //                 } else {
        //                     alert('Ошибка при удалении');
        //                 }
        //             }
        //         });
        //     }
        // }

        function deleteRecord(recordId) {
            if (confirm('Вы уверены, что хотите удалить сотрудника?')) {
                $.ajax({
                    url: `/delete-record/${recordId}/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken() // Передача CSRF токена
                    },
                    success: function (response) {
                        if (response.success) {
                            location.href = '/'; // Перенаправление на главную страницу после удаления
                        } else {
                            alert('Ошибка при удалении');
                        }
                    },
                    error: function () {
                        alert('Произошла ошибка при удалении записи.');
                    }
                });
            }
        }

    </script>
{% endblock scripts %}
