{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IP-phone</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    {% block links %}
    {% endblock %}
    
</head>
<body>
<div class="alert alert-warning alert-dismissible fade top-alert d-none" role="alert" id="topAlert">
    <strong>Success!</strong> Your action was successful.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% include 'common/navbar.html' %}
<div class="container">
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
{% block scripts %}
{% endblock scripts %}

<!-- jQuery -->
<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<!-- Bootstrap 5 -->
<script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>