{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #005590;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/Energo_logo-18.svg' %}" alt="Logo"
                                                             style="width: 250px; height: 80px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link text-white" href="{% url 'add_department' %}"><strong>Добавить#}
                    {#                            департамент</strong></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link text-white" href="{% url 'add_record' %}"><strong>Добавить#}
                    {#                            сотрудника</strong></a>#}
                    {#                    </li>#}
                    <li class="nav-item">
                        <button type="submit" onclick="sendForms()" class="nav-link text-white">
                            <strong></strong>
                        </button>
                    </li>
                    {% url 'home' as home %}
                    {% if request.path == home %}
                        <li class="nav-item dropdown">
                            <div id="send-form-spinner" class="spinner-border visually-hidden text-light" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <a id="send-form-dropdown" class="nav-link text-white dropdown-toggle" href="#"
                               role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <strong>
                                    Отправить
                                    формы для корректировки данных
                                </strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button type="submit" onclick="sendForms()" class="dropdown-item">
                                        Показать ссылки формы
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <button id="send-email-btn" type="submit" onclick="sendForms(true)" class="dropdown-item">
                                        Отправить ссылки по почте
                                    </button>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <strong>
                                Добавить
                            </strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'add_department' %}">Добавить департамент</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'add_record' %}">Добавить сотрудника</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <strong>
                                Настройки
                            </strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'logs' %}">Логи</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'record_form_configuration' 1 %}">Рассылка</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}"><strong>Выйти</strong></a>
                    </li>
                {% else %}
                    <!-- <li class="nav-item">
           <a class="nav-link" href="{% url 'login' %}">Login</a> 
        </li> -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>