{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}
        <h1>Добро пожаловать, {{ user.username }}!</h1>
        <p>Вы уже вошли в систему.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Перейти на главную страницу</a>
    {% else %}
    <h1>Вход</h1>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required>
        </div>
        <br>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Пароль" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Войти</button>
    </form>
    
    {% endif %}

</div>

{% endblock %}  